/* Estilos generales para el contenedor de navegación */
.ContenedorNav {
  padding: 1.2rem 0;
  box-shadow: none;
  z-index: auto;
}

/* Contenedor flexible para la barra de navegación */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3.25rem;
}

/* Estilos para el contenedor de la imagen */
.ContenedorImg {
  display: flex;
  align-items: center;
}

/* Estilos para la imagen principal */
.img {
  margin-right: 1rem; /* Añade un espacio entre la imagen y el nombre */
}

.imgAvatar {
  width: 100px; /* Ajusta el tamaño de la imagen */
  height: 100px;
  border-radius: 50%; /* Hace que la imagen sea redonda */
}

/* Estilos para el nombre */
.contenedorNombre {
  text-align: center;
}

/* Estilos para la lista */
.ContenedorLista {
  display: flex; /* Cambia la propiedad 'display' a 'flex' para que el menú se despliegue en pantallas pequeñas */
}

.Lista {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.Lista li {
  margin: 0 1rem; /* Añade un espacio entre los elementos de la lista */
}

/* Estilos para los enlaces */
.Link {
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

.likeInicio {
}

@media screen and (max-width: 768px) {
  .Lista {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .Lista.active {
    display: flex; 
  }

  .Lista li {
    margin: 10px 0; 

  .MenuIcon {
    display: block;
    cursor: pointer;
  }

  .MenuIcon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
  }
}
